<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Student</title>
    <meta charset="UTF-8"/>
</head>
<body>
<form th:action="@{/addStudent}" th:object="${student}" th:method="POST">
    Name: <input type="text" name="name"> <br>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    Age: <input type="text" name="age"> <br>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    Speciality: <input type="text" name="speciality"> <br>
    <div style="color:red" th:if="${#fields.hasErrors('speciality')}" th:errors="*{speciality}"></div>
    <br/>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>