<html>
<head>
    <title>Home</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1>Work 39</h1>
<p>
    Создать Spring MVC проект реализующий CRUD операции любой модели ( с
    использованием БД).<br>
    - /insert_user - добавить пользователя<br>
    - /get_user/{id} - получить данные о пользователе по id<br>
    - /delete_user/{id} - удалить пользователя по id<br>
    - /update/{id}/{login} - обновить логин у пользователя<br>
</p>
<h1>Work 40</h1>
<p>
    Создать Spring Boot MVC приложение для вывода информации о<br>
    студентах группы. Предусмотреть возможность добавлять студентов и<br>
    удалять студентов из группы. Использовать Thymeleaf.<br>
    <br>
    - /insert - добавить студента<br>
    - /all - получить данные о всех студентах<br>
    - /delete_student/{name} - удалить пользователя по name<br>
    - /allBySpeciality/{speciality} - получить данные о всех студентах по speciality<br>
</p>
</body>
</html>
